<!DOCTYPE html>
<html>
  <head>
    <title>Mastrering skills</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>
  <body style="height: 100em;">
 <%- include('nav',{token:token}) %>
    <div class="text-center">
      <h1>Mastrering skills</h1>
    <p>Welcome to Mastrering skills <h2><%= username %></h2></p>
    
    </div>
  </body>

  

</html>
