<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Sign Up</title>
</head>
<body>
    <%- include('nav',{token:false}) %>

    <form class="container" action="signup" method="POST">
        <label for="username">Username</label>
        <input class="form-control" name="username" id="username">
        <label>Password</label>
        <input class="form-control" name="password">
        <label>
            firstname
        </label>
        <input class="form-control" name="firstname">
        <label>
            lastname
        </label>
        <input class="form-control" name="lastname">
        <label>
            Teacher Code
        </label>
        <input class="form-control" name="admin">
        <br>
        <button class="form-control btn btn-primary">Sign Up</button>
    </form>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>